.container {
  padding: 75px 115px;
}

.searchClass{
  margin-top: 100px;
  margin-bottom: -100px;
}
.mainSection {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 60px;
  align-items: center;
  margin-bottom: 100px;
}

.content{
  max-width: '500px';
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.description {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.button {
  padding: 12px 60px;
  border-radius: 45px;
  background: #3d00b7;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-align: left;
  cursor: pointer;
}

.contentSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 60px;
  align-items: flex-start;
  position: relative;
  margin-bottom: 100px;
}

.index {
  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.1;
  position: absolute;
  top: -78px;
  left: -78px;
}

.krifinSection {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 20px;
}

.dash {
  height: 2px;
  width: 72px;
  background: #fbd784;
}

.krifinTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 6px;
  text-align: left;
  color: #fbd784;
}

.contentTitle {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.contentDescription {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}


.enddescription {
  width: 80%;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  /* margin-right: -100px; */
  margin-left: 100px;
}
.enddescriptionpara {
  width: 80%;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justify;
  margin-bottom: 80px;
  margin-left: 100px;
  /* margin-right: -100px; */
  /* margin-left: 100px; */
}
.sectionContent{
  max-width: 600px;
}
.content{
  max-width: 690px;
}

@media (max-width: 1000px) {
  .container{
    padding: 75px 60px;
    width: calc(100%);
  }
  .content{
    max-width: 100%;
    flex: 1;
  }
  .mainSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    align-items: center;
    /* margin-bottom: ; */
    margin-left: 0px;
    text-align: justify;
    /* margin: 100px auto; */
    margin-bottom: 30px;
  }


  .title {
    font-size: 35px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
  }
  
  .description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
  }
  
  .button {
    padding: 12px 60px;
    border-radius: 45px;
    background: #3d00b7;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.065em;
    text-align: left;
    cursor: pointer;
  }

  .sectionContent {
    max-width: 100%;
  }
  
  

  .contentSection{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100vw;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .contentDescription {
    flex: 1;
    max-width: auto;
  }
  .index {
    font-size: 150px;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    left: -400px;
  }
  .krifinSection {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    width: 250px;
    /* margin-left: 20px; */
  }
  
  .contentDescription {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contentTitle{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
  }
  .enddescription {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    margin-bottom: 35px;
    margin-top: 100px;
    /* margin-right: -100px; */
    margin-left: 0px;
  }
  
  .verticalDivider{
    height: 500px;
  }
  .tableHeader {
    display: flex;
    align-items: center;
    gap: 0 60px;
    padding: 0px 60px;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    /* width: 100px; */
  }
  
  .verticalDivider {
    width: 1px;
    height: 180px;
    background: #ffffff;
  }
  
  .headerItem {
    flex: 1;
    text-align: center;
  }
  
  .tableRow {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 0 60px;
    padding: 0px 60px;
  }
  .enddescriptionpara {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    margin-bottom: 80px;
    /* margin-right: -100px; */
    margin-left: 0px;
  }
}
