.container {
  padding: 75px 115px;
}

.mainSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  margin-bottom: 100px;
}

.content{
  max-width: '500px';
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.description {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.button {
  padding: 12px 60px;
  border-radius: 45px;
  background: #3d00b7;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-align: left;
  cursor: pointer;
}

.contentSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  align-items: flex-start;
  position: relative;
  margin-bottom: 100px;
}

.index {
  font-size: 240px;
  font-weight: 700;
  line-height: 240px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.1;
  position: absolute;
  top: -78px;
  left: -78px;
}

.krifinSection {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 20px;
}

.dash {
  height: 2px;
  width: 72px;
  background: #fbd784;
}

.krifinTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 6px;
  text-align: left;
  color: #fbd784;
}

.contentTitle {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.contentDescription {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.table {
  background: #333333;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 50px;
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: 0 60px;
  padding: 0px 60px;
  border-bottom: 1px solid #ffffff;
}

.verticalDivider {
  width: 1px;
  height: 100px;
  background: #ffffff;
}

.headerItem {
  flex: 1;
  text-align: center;
}

.tableRow {
  display: flex;
  align-items: center;
  gap: 0 60px;
  padding: 0px 60px;
}

.enddescription{
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 300px;
  }

  .title {
    font-size: 30px;
    width: 200px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
  }
  .button {
    padding: 20px 12px;
    border-radius: 45px;
    background: #3d00b7;
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.065em;
    text-align: left;
    cursor: pointer;
  }
  .contentSection {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    align-items: center;

    position: relative;
    margin-bottom: 100px;
    margin-left: 300px;
  }
  .index {
    font-size: 150px;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    left: -400px;
  }
  .krifinSection {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    width: 250px;
    /* margin-left: 20px; */
  }
  .table {
    background: #333333;
    border-radius: 25px;
    /* padding: 10px; */
    margin-bottom: 50px;
    /* text-align: center; */
    width: 700px;
    margin-left: -70px;
    
  }
  .contentDescription {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contentTitle{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
  }
  .enddescription {
    width: 400px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
    /* margin-right: -100px; */
    margin-left: 100px;
  }
  .tableHeader {
    display: flex;
    align-items: center;
    gap: 0 60px;
    padding: 0px 60px;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    /* width: 100px; */
  }
  
  .verticalDivider {
    width: 1px;
    height: 140px;
    background: #ffffff;
  }
  
  .headerItem {
    flex: 1;
    text-align: center;
  }
  
  .tableRow {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0 60px;
    padding: 0px 60px;
  }
}

