.main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
    gap: 5%;
  }
  
  .name {
    font-size: 18px;
  }
  
  .statButton {
    display: flex;
    flex-direction: row;
    color: #00AC4F;
    border: 2px solid #00AC4F;
    background: transparent;
    border-radius: 10px;
    padding: 3px;
    align-items: center;
    justify-content: center;
  }
  
  .placebidButton {
    background: transparent;
    color: #220970;
    border: 2px solid #3D00B7;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    display: flex;
    flex-direction: row;
  }
  
  .placebidButton:hover {
    background: #3D00B7;
    color: white;
    cursor: pointer;
  }
  
  .location {
    align-items: right;
    margin: 60px 0px;
    color: #757575;
  }

  .assetImg{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin-top: 10px;
  }
  .assetprofileImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }

  @media (max-width: 1170px) {
    .assetImg{
      width: 150px;
      height: 150px;
      border-radius: 10%;
      object-fit: cover;
    }
    .assetprofileImg{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
    }
    .statButton {
      display: flex;
      flex-direction: row;
      color: #00AC4F;
      border: 2px solid #00AC4F;
      background: transparent;
      border-radius: 10px;
      padding: 3px;
      align-items: center;
      justify-content: center;
    }
    .statButtonContent{
      font-size: 12px;
      width: 50px;
    }
    
  }
  
  /* Mobile view */
  @media (max-width: 900px) {
    .main {
      flex-direction: row;
      gap: 30px;
      width: 600px;
      margin-left: 100px;
      flex-grow: 1;
    }
  
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .content {
      gap: 5%;
      padding: 0px 0px;
      width: 100%;
    }
  
    .name {
      font-size: 25px;
    }
  
    .info {
      gap: 10px;
    }
  
    .statButton {
      padding: 3px;
    }
  
    .placebidButton {
      padding: 8px;
    }
  
    .location {
      text-align: left;
      margin-bottom: 0px;
      padding: 0px;
      width: 120px;
      font-size: 20px;
    }
    .assetprofileImg{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      object-fit: cover;
    }
    .statButtonContent{
      font-size: 18px;
      width: 100px;
      /* text-align: center; */
    }
    .statButton {
      display: flex;
      flex-direction: row;
      color: #00AC4F;
      border: 2px solid #00AC4F;
      background: transparent;
      border-radius: 10px;
      padding: 3px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .placebidButton {
      background: transparent;
      color: #220970;
      border: 2px solid #3D00B7;
      border-radius: 30px;
      align-items: center;
      justify-content: center;
      padding: 6% 0%;
      display: flex;
      flex-direction: row;
    }
  }
  