.dashboardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* padding: 20px; */
    
}

.dashboardUser{
    text-align: center;
    align-items: center;
    justify-self: center;
}
.dashboardUserContent{
    width: '100vw';
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    /* margin-left: 15px; */
    justify-content: space-between;
    margin-top: 30px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 0 15px;
    margin-bottom: 50px;
  }
  
  .filter {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    background: #dcdcdc33;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .filter.active {
    background: #3d00b7;
    color: white;
  }
  
  .filter:hover {
    background: #3d00b7;
    color: white;
  }
  
  .buttonOutlined {
    padding: 12px 60px;
    border-radius: 45px;
    background: transparent;
    color: #3d00b7;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    border: 1px solid #3d00b7;
  }

  .dashboardAssets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top : '1000px'
  }