.container {
  padding: 0 2rem;
}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 110px;
  margin-bottom: 100px;
}

.header {
  font-size: 40px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #565656;
  margin-bottom: 20px;
}

.button {
  padding: 12px 60px;
  border-radius: 45px;
  background: #3d00b7;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-align: left;
  cursor: pointer;
}

.stats {
  display: flex;
  align-items: center;
  gap: 0 60px;
}

.statTitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.05em;
  text-align: left;
}

.statDesc {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #565656;
}

.discoverSection {
  padding: 0 110px;
  margin-bottom: 100px;
}

.discoverHeader {
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 75px;
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-bottom: 60px;
}

.filters {
  display: flex;
  gap: 0 15px;
  margin-bottom: 50px;
}

.filter {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  background: #dcdcdc33;
  border-radius: 50px;
  cursor: pointer;
}

.filter.active {
  background: #3d00b7;
  color: white;
}

.filter:hover {
  background: #3d00b7;
  color: white;
}

.buttonOutlined {
  padding: 12px 60px;
  border-radius: 45px;
  background: transparent;
  color: #3d00b7;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  border: 1px solid #3d00b7;
}

.benefitsSection {
  margin: 100px 110px;
  background: #d9e0ec33;
  padding: 100px 60px;
  display: flex;
  gap: 20px 60px;
  flex-wrap: wrap;
}

.benefitsHeader {
  max-width: 398px;
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 0 60px;
}

.benefit {
  display: flex;
  gap: 0 15px;
}

.benefitLogo {
  width: 36px;
  height: 36px;
}

.benefitTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.benefitDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 203px;
  color: #9f9191;
}

.otherBenefits {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  gap: 30px;
}

.otherBenefitsHeader {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  width: 125px;
  margin-bottom: 10px;
}

.otherBenefitsDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  width: 125px;
  color: #9f9191;
}

.partnerOfferSection {
  padding: 0 110px;
  margin-bottom: 150px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partnerOfferHeader {
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 80px;
  margin-top: 40px;
}

.benefitsColOne {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefitsColTwo {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.randomAssets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  width: 95%;
  margin: 20px auto;
  /* background: blue; */
}

.randomAssetsColOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 110px;
  margin-bottom: 100px;
}

.randomAssetsColOneData {
  display: grid;
  grid-template-columns: 0fr 1fr auto;
  margin-top: 20px;
}

.placeDetail {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}

.priceDetail {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 80px;
  margin-top: 10px;
  justify-content: space-between;
  /* color: #3A3A3A; */
  color: "white";
}

.randomAssetsColTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
