.container {
  padding: 0 2rem;
}

.discoverSection {
  padding: 0 110px;
  margin-bottom: 100px;
}

.discoverHeader {
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 75px;
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-bottom: 60px;
}


.filters {
  display: flex;
  gap: 0 15px;
  margin-bottom: 50px;
}

.filter {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  background: #dcdcdc33;
  border-radius: 50px;
  cursor: pointer;
}

.filter.active {
  background: #3d00b7;
  color: white;
}

.filter:hover {
  background: #3d00b7;
  color: white;
}

@media (max-width: 768px){
  .filters{
    display: none;
  }
  .nfts {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin-bottom: 60px;
    width: 480px;
  }
}

@media (max-width: 400px){
  .container {
    padding: 0 2rem;
    width: 100vw;
  }
  
  .discoverSection {
    padding: 0 110px;
    margin-bottom: 100px;
  }
  .filters{
    display: none;
  }
  .nfts {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin-bottom: 60px;
    width: 480px;
    margin-left: 0px;
  }
}