.container{
    display: flex;
    width: 100%;
}
.title{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: -1rem;
}
.searchAssets{
    width: 25%;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px;
    gap: 30px;
}
.searchBox{
    display: flex;
    flex-direction: row;
}
.searchBackground{
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%
}

.searchContainer {
    position: relative;
    display: block;
    width: 80%;
  }
.searchInput{
    background-color: #151515;
  color: #ffffff;
  border: none;
  width: 100%;
  border-radius: 20px;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
}

.searchButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  .options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }

  .option{
    cursor: pointer;
  }
  .activeLineBuy{
    width: 50%;
    height: 5px;
    background-color: #00B746;
    margin-top: -20px;
    transition: transform 0.3s ease;
  }
  .activeLineSell{
    width: 50%;
    height: 5px;
    background-color: #00B746;
    margin-top: -20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .allnfts {
    height: 100vh;
    overflow-y: scroll;
  }
  .allnfts::-webkit-scrollbar {
    width: 3px;
  }
  
  .allnfts::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  .allnfts::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .allnfts::-webkit-scrollbar-track {
    background-color: #151515;
  }
  
  .allnfts::-webkit-scrollbar-track:vertical {
    border-radius: 3px;
  }
  
  .allnfts::-webkit-scrollbar-track:horizontal {
    border-radius: 3px;
  }

  .displayAsset{
    padding: 30px 30px;
    
    flex-basis: 75%;
  }

  .sellerInfoCards{
    display: flex;
    flex-direction: row;
  }
.map{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: '30px';
}
.mapHeader{
    font-size: '1.5rem';
}

  /* Optional: Add FontAwesome library for the search icon */
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
