.container {
  padding: 0 110px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.22em;
  text-align: left;
  margin-bottom: 30px;
}

.image {
  border: 2px solid #ffffff;
  border-radius: 40px;
  height: 688px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.card {
  padding: 50px 50px;
  text-align: center;
  flex: 1;
  background: #151515;
  border: 1px solid white;
  border-radius: 30px;
}

.header {
  color: #06dbac;
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.22em;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.divider {
  border: 1px solid #ffffff;
  width: 100%;
  margin: 30px 0px;
}

.stats {
  flex: 1;
  text-align: left;
}

.statTitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #06dbac;
  text-align: left;
  margin-bottom: 50px;
}

.statDesc {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.price {
  padding: 12px 24px;
  border-radius: 15px;
  background: #323232;

  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 50px;
}

.buy {
  background: linear-gradient(99.74deg, #5539a8 5.23%, #bd00ff 92.7%);
  border-radius: 55px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}
