.investmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    /* margin-top: 10px; */
  }
  
  .investcardtotinvest {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 7px;
  }
  
  .investcardno {
    font-size: 20px;
    text-align: center;
  }
  
  .profitorloss {
    display: flex;
    justify-content: flex-end;
    width: 100px;
  }

  .totalInvest{
    color: #636363;
    font-weight: 1000; 
    font-size :12px;
  }
  
  @media (max-width: 1300px) {
    .investmain {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr 1fr;
      /* margin-top: 10px; */
    }
    .content{
      display: flex;
      flex-direction: column;
      width: 100px;
      justify-content: center;
      align-items: flex-start;
      margin-left: 10px;
          }
    .profitorloss {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    .investcardImg{
      width: 35px;
      height: 35px;
    }
    .investcardimg{
      display: flex;
      align-items: center;
    }
    .whiteEth{
      height: 20px;
      width: 10px
    }
    .profitorloss {
    display: flex;
    justify-content: flex-end;
    width: 100px;
  }
  .investcardno {
    font-size: 15px;
    text-align: center;
    padding: 20px;
  }
  }
  /* Mobile view */
  /* @media (max-width: 768px) {
    .investmain {
      grid-template-columns: 1fr 3fr;
      gap: 10px;
    }
  
    .investcardno {
      font-size: 16px;
    }
  
    .investcardimg {
      display: flex;
      align-items: center;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }
  
    .investcardtotinvest {
      font-size: 8px;
      margin-top: 5px;
    }
  
    .profitorloss {
      width: auto;
    }
  } */

  @media (max-width: 900px){
    .investmain{
      grid-template-columns: 1fr 1fr 1fr 3fr;
      gap: 20px;
    }
    .investcardno{
      font-size: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .investcardimg{
      display: flex;
      align-items: center;
    }
    .content{
      display: flex;
      flex-direction: column;
      width: 200px;
      justify-content: center;
      gap: 10px;
    }
    .investcardname{
      font-size: 25px;
    }
    .investcardtotinvest{
      font-size: 30px;
      margin-top: 10px;
    }
    .profitorloss{
      width: auto;
      font-size: 25px;
    }
    .investcardImg{
      width: 50px;
      height: 50px;
    }
    .totalInvest{
      font-size: 18px;
    }
    .whiteEth{
      height: 30px;
      width: 20px
    }
    
  .investcardno {
    font-size: 25px;
    text-align: center;
    padding: 20px;
  }
  }
  